/* Adicionar aqui toda a estilização criada para sua aplicação. */



/* Banner */
.banner{
    height: 300px;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    
}
.banner .container p{
    color:white;
    font-size: 40px;
    width: 20%;
}
.banner .container{
    justify-content: center;
    height: 100%;
}
.banner .container p span{
    font-weight: 600;
}
.social{
    background: aliceblue;
}
.boxes{
    width: 100%;;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.box{
    color:black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    text-align: center;
    padding-top: 10px;
}
.box h4{
    color:crimson;
}
.box img{
width: 50%;
}